.contenedor {
  height: 350px;
  display: flex;
  margin: 35px;
  background-color: #eeeeee;
}

.imagen {
  width: 245px;
  height: 250px;
}

.contenedor__subtitulo {
  color: #f9d949;
}

.contenedor__titulo {
  color: #1b3039;
}

.contenedor__texto {
  margin: 15px;
  padding: 5px;
}

.contenedor__parrafo {
  margin-bottom: 40px;
}

.contenedor__parrafo--texto {
  margin-top: 10px;
  display: flex;
  text-align: justify;
}

.contenedor__boton {
  margin-left: 20px;
  font-weight: 700;
  color: #3a98b9;
  padding: 9px 25px;
  background-color: #e8d5c4;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  display: flex;
}

.contenedor__boton:hover {
  background: #3a98b9;
  color: #1b3039;
  transform: scale(1.1);
}

@media (max-width: 1000px) {
  .contenedor {
    height: 400px;
  }

  @media (max-width: 700px) {
    .contenedor {
      height: 600px;
    }
    .imagen {
      width: 175px;
      height: 180px;
    }

    @media (max-width: 500px) {
      .contenedor {
        margin-left: 5px;
        height: 800px;
        width: 400px;
      }
      .imagen {
        width: 175px;
        height: 180px;
      }

      .contenedor__parrafo {
        font-size: 25px;
      }

      .contenedor__parrafo--texto {
        font-size: 20px;
      }
    }

    @media (max-width: 400px) {
      .contenedor {
        height: 900px;
        width: 350px;
      }
      .imagen {
        width: 175px;
        height: 180px;
      }
    }
  }
}
