.contacto_contenedor {
  height: 500px;
  width: 100%;
  background-image: url(https://media.revistagq.com/photos/5e0605b0aec425000859123f/master/w_1920,h_1440,c_limit/unnamed.jpg);
  background-image: center;
  background-image: no-repeat;
  background-image: fixed;
  background-size: cover;
  background-position: left;
}

.contacto_contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contacto_contenedor-titulo {
  color: blanchedalmond;
}

.contacto_contenedor-dos {
  display: flex;
  justify-content: space-around;
  margin: 15px;
  padding: 10px;
}

@media (max-width: 900px) {
  .contacto_contenedor-dos {
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 15px;
  }

  .direccion_titulo {
    margin-top: 20px;
  }
}
