@import url(https://colorhunt.co/palette/3a98b9fff1dce8d5c4eeeeee);
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

.pie-de-pagina1{
    width: 100%;
    height: 10px;
    background-color: #E8D5C4;
    margin: auto;
    display: flex;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 50px;
    padding: 15px 0px;
}

.pie-de-pagina1 .box{
    width: 100px;
    display: flex;
}
.pie-de-pagina1 .box a {
        color: white;
        margin: 0 10px;
        transition: 0.2s linear;
        transition-property: background-color, color;
        font-size: 60px;
}
.pie-de-pagina1 .box a:hover {
    color: var(--accent-color);
    transition: 0.2s linear;
}
.pie-de-pagina2{
    width: 100%;
    height: 60px;
    background-color: #E8D5C4;
    margin: auto;
    display: flex;
    padding: 15px 0px;
    text-align: center;
}
.pie-de-pagina2 .box2{
    width: 100%;
    text-align: center;
}

.pie-de-pagina3{
    width: 100%;
    background-color: #3A98B9;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

.pie-de-pagina3 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-de-pagina3 .box figure img{
    width: 150px;
}

.pie-de-pagina3 .box h2{
    color: #E8D5C4;
    margin-bottom: 25px;
    font-size: 25px;
}
.pie-de-pagina3 .box li{
    color: #EEEEEE;
    margin-bottom: 10px;
    font-size: 20px;
    list-style: none;
}