.title {
    font-size: 4rem;
    font-family: sans-serif;
    color: rgb(0, 0, 0);
}
.carrito-icono {
    position: fixed;
    bottom: 20px;
    right: 20px; 
    font-size: 2rem !important;
    height: 70px;
    width: 70px;
    border-radius: 50% !important;
    opacity: .7;
}
.carrito-cantidad {
    position: absolute;
    bottom: -30px;
    right: 0;
    color: rgb(0, 0, 0);
}