.contenedor_principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}

.contenedor_tarjetas {
  display: flex;
  justify-content: space-around;
  align-content: center;
  margin: 15px;
  padding: 20px;
}

.seccion {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  padding: 15px;
}

.seccion p {
  text-align: center;
  color: #b2b2b2;
}

.tarjeta_icono {
  font-weight: 700;
  color: #1b3039;
  padding: 9px 25px;
  background: #eceff1;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  display: inline-flex;
  margin: 10px;
  padding: 15px;
}

@media (max-width: 1000px) {
  .contenedor_tarjetas {
    flex-wrap: wrap;
    width: 400px;
  }

  .contenedor_principal {
    font-size: 50px;
  }

  .seccion p {
    font-size: 20px;
  }
}
