/* Estilos de clase */
.tarjetas__titulo {
    text-align: center;
    font-size: 40px;
    margin: 20px;
    text-shadow: 0 0 1px rgb(0, 0, 0);
    font-weight: 50;
}
.tarjetas__titulo--color {
    color: rgb(50, 162, 6);
}
.tarjetas {
    width: 100%;
    margin: 20px auto 40px;
    font-family: sans-serif;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.tarjeta {
    margin: 0;
    background-color: #ffffff;
    overflow: hidden;
    box-shadow: -1px -1px 4px rgba(0, 0, 0, .5);
}
.tarjeta__contenedor--imagen {
    position: relative;
}
.tarjeta__imagen {
    width: 100%;
    user-select: none;
}
.tarjeta__datos {
    margin: 10px;
    text-align: end;
}
.tarjeta__precio {
    text-decoration:line-through;
    font-weight: 300;
}
.tarjeta__descuento {
    color: rgb(50, 162, 6);
}
.tarjeta__precio--final {
    color: rgb(241, 100, 0);
    font-weight: 700;
}

/* Media query */
@media screen and (min-width: 576px) {
    .tarjetas__titulo {
        font-size: 50px;
    }
    .tarjetas {
        gap: 10px 10px;
    }
    .tarjeta {
        flex-basis: calc(50% - 10px);
        box-shadow: 0px 1px 1px rgba(0, 0, 0, .5);
    }
}

@media screen and (min-width: 992px) {
    .tarjetas__titulo {
        font-size: 50px;
    }
    .tarjetas {
        gap: 0px 10px;
    }
    .tarjeta {
        flex-basis: calc(25% - 10px);
        box-shadow: 0px 1px 1px rgba(0, 0, 0, .5);
    }
}