/* Estilos de clase */
.tarjetas__titulo {
    text-align: center;
    font-size: 40px;
    margin: 20px;
    text-shadow: 0 0 1px rgb(0, 0, 0);
    font-weight: 50;
}
.tarjetas__titulo--color {
    color: rgb(50, 162, 6);
}
.tarjetas {
    width: 100%;
    padding: 0;
    margin: 20px auto 40px;
    font-family: sans-serif;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.tarjeta {
    margin: 0;
    background-color: #ffffff;
    overflow: hidden;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, .5);
}
.tarjeta__contenedor--imagen {
    position: relative;
}
.tarjeta__imagen {
    width: 100%;
    user-select: none;
    cursor: pointer;
}
.tarjeta__datos {
    margin: 10px;
    text-align: end;
}
.tarjeta__titulo {
    font-size: 20px;
}
.tarjeta__precio {
    font-size: 25px;
}
.tarjeta__precio--anulado {
    font-size: 25px;
    text-decoration:line-through;
}
.tarjeta__descuento {
    font-size: 25px;
    color: rgb(50, 162, 6);
}
.tarjeta__precio--final {
    font-size: 25px;
    color: rgb(241, 100, 0);
    font-weight: 700;
}
/* .carrito {
    height: 40px;
    position: sticky;
    bottom: 35px;
    margin: 30px;

} */
.carrito__logo {
    height: 40px;
    padding: 12px;
    color: rgb(182, 19, 19);
    background-color: rgb(219, 221, 240);
    border-radius: 50%;
    position: fixed;
    right: 15px;
    bottom: 10px;
    opacity: .5;
    cursor: pointer;
    transition: .3s;
    box-shadow: 1px 1px 6px black;
    z-index: 999;
}
.carrito__logo:hover {
    opacity: 1;
}
/* Media query */
@media screen and (min-width: 576px) {
    .tarjetas__titulo {
        font-size: 50px;
    }
    .tarjetas {
        gap: 10px 10px;
    }
    .tarjeta {
        flex-basis: calc(50% - 10px);
        box-shadow: 1px 1px 5px rgba(0, 0, 0, .5);
    }
}

@media screen and (min-width: 992px) {
    .tarjetas__titulo {
        font-size: 50px;
    }
    .tarjetas {
        gap: 10px;
    }
    .tarjeta {
        flex-basis: calc(25% - 10px);
        box-shadow: 1px 1px 5px rgba(0, 0, 0, .5);
    }
}