.contenedor{
    height: 300px;
    display: flex;
    margin: 35px;
    background-color: #EEEEEE;
}

.imagen{
    width: 245px;
    height: 250px;
}

.contenedor_subtitulo{
    color: #F9D949;
}

.contenedor_texto{
    margin: 15px;
    padding: 5px;
}


.contenedor_parrafo{
    margin-bottom: 40px;
}


.contenedor_parrafo--texto{
    margin-top: 10px;
    display: flex;
    text-align:justify;
}

.contenedor_boton{
    margin-left: 20px;
    font-weight: 700;
    color: #3A98B9;
    padding: 9px 25px;
    background-color: #E8D5C4;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    display: flex;  
}

.contenedor_boton:hover{
    background: #3A98B9;
    color: #1b3039;
    transform: scale(1.1);
}

@media (max-width: 1000px){
    .contenedor{
        height: 400px;
    }

    @media (max-width: 700px){

    .contenedor{
        height: 600px;
    }
    .imagen{
        width: 175px;
        height: 180px;
    }

    @media (max-width: 500px){

        .contenedor{
            height: 800px;
        }
        .imagen{
            width: 175px;
            height: 180px;
        }
}

    @media (max-width: 400px){

        .contenedor{
            height: 900px;
            width: 350px;
        }
        .imagen{
            width: 175px;
            height: 180px;
        }
    }
}
}